# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Byte-compiled / optimized / DLL files
*.so

# Local data
uploads/
*.csv

# Virtual environments
.env
.venv
env/
venv/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Nix build caches
.result
.cache/
.nix-channels/
.nix-defexpr/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

  
